<p>This example demonstrates how to add any cell-template to the columns of ngxdatagrid. <span [style.float]="'right'"> <a [href]="asfd" [target]="_blank">View Code</a></span></p>
True's Color:
<mat-form-field>
    <mat-select [(value)]="trueColor">
      <mat-option *ngFor="let color of colors" [value]="color">
        {{color}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  False's Color:
  <mat-form-field>
      <mat-select [(value)]="falseColor">
        <mat-option *ngFor="let color of colors" [value]="color">
          {{color}}
        </mat-option>
      </mat-select>
    </mat-form-field>

<ngxdatagrid [rows]="dataArray" [selectionType]="'single'" [columns]="cols" [gridHeight]="'350'" [headerRowHeight]="'30'" [gridWidth]="'900'"></ngxdatagrid>

<ng-template #colorTemplate let-column="column" let-row="row">
  <span *ngIf="row[column.name] == true" [style.color]="trueColor">{{row[column.name]}}</span>
  <span *ngIf="row[column.name] == false" [style.color]="falseColor">{{row[column.name]}}</span>
</ng-template>


    