<ng-template #checkboxCell let-row="row" let-trackingIndex="row.trackingIndex">
  <input type="checkbox" [style.cursor]="'pointer'" [checked]="row.checked" (click)="multiSelectRow($event.target,row,trackingIndex,$event)">
</ng-template>

<ng-template #radioCell let-row="row" let-trackingIndex="row.trackingIndex">
  <input type="radio" [style.cursor]="'pointer'" [checked]="row.checked" (change)="singleSelectRow($event.target,row,trackingIndex)">
</ng-template>

<ng-template #normalCellTemplate let-row="row" let-column="column" let-trackingIndex="row.trackingIndex">
  <span *ngIf="column?.editable">
    <span (dblclick)="editingPropnRow[trackingIndex+'_'+column.name] = true" *ngIf="!editingPropnRow[trackingIndex+'_'+ column.name]">
      {{row[column.name]}}
    </span>
  </span>
  <span *ngIf="!column?.editable">{{row[column.name]}}</span>
  <input (focusout)="editPropnRow(trackingIndex,column.name,$event.target.value)" *ngIf="editingPropnRow[trackingIndex+'_'+column.name]"
    type="text" [value]="row[column.name]">
</ng-template>

<ng-container *ngTemplateOutlet="mainGrid;context:{gridRows:gridRows}"></ng-container>

<ng-template #mainGrid let-gridRows="gridRows">
    
  <div class="grid">
    <div *ngIf="showToolbar" [style.width.px]="gridWidth" [style.height.px]="30" [style.background-color]="styles.toolbarBgColor"
      id="searchBox">
      <input type="text" [(ngModel)]="searchQuery" (keyup)="searchGrid($event.target.value)" id="searchInput" [style.border]="'1px solid '+ styles.toolbarBgColor"
        [placeholder]=toolbarOptions.searchPlaceholder>
      <div [style.float]="'right'" [style.height.px]="30">
     <div class="dropdown">
        <span [style.color]="styles.headerFontColor" [style.font-size.px]="20" [style.padding.px]="5" [style.cursor]="'pointer'">&#x2630;</span>
        <div class="grid-dropdown-content">
          <div *ngIf="styles.showDownloads">
          Download
          <span class="fileDownload" (click)="downloadFile(toolbarOptions.fileName,toolbarOptions.csvDelimiter)">.csv</span>
          <span class="fileDownload" (click)="excelDownload(toolbarOptions.fileName)">.xls</span>
          <hr/>
          </div>
                Columns  
              <hr/>
              <div [style.height.px]="styles.toolsPanelHeight" style="overflow:auto">
              <div *ngFor="let column of gridColumns;let index=index" style="margin:1%" >
                <input type="checkbox" [checked]="column.checked" (click)="column.checked = $event.target.checked; changeColumnVisibility()"><span [style.padding-left.px]="5">{{resolveName(column?.name)}}</span>
              </div>
              </div>
              <hr/>
              {{columns.length}} of {{gridColumns.length}} Selected


        </div>
      </div>
      </div>
    </div>
    <div [style.width]="gridWidth + 'px'" [style.height]="gridHeight + 'px'" [style.border]="'1px solid lightgrey'" style="position:relative;overflow-y:hidden;overflow-x:auto">
      <div [style.width]="rowWidth+ 'px'" [style.height]="headerRowHeight+ 'px'" [style.position]="'absolute'" [style.background-color]="styles.headerBgColor"
        [style.border-bottom]="'1px solid lightgrey'">
        <span *ngFor="let column of columns;let first=first;let columnIndex=index" [style.left]="column.left+'px'" [style.line-height]="headerRowHeight+'px'"
          class="headerCell" [style.background-color]="styles.headerBgColor" [style.color]="styles.headerFontColor" [style.height]="headerRowHeight+ 'px'"
          [ngClass]={firstCell:first,intermediateCell:styles.showInsideBorders} [style.width]="column.width+'px'">
          <span *ngIf="selectionType && column.name == 'checkboxColumn'">
            <input type="checkbox" [checked]="selectedRows.length && selectedRows.length == _rows.length" [style.margin.px]="5" (change)="headerCheckboxChecked($event.target)">
          </span>
          <span class="headerName" (click)="callSort(column.name)">{{resolveName(column.name)}}
            <span *ngIf="column.editable">&#x270E;</span>
            <span *ngIf="isAsc && isSorted && sortingProp == column.name" class="sortIcon">
              <span>&#8593;</span>
            </span>
            <span *ngIf="!isAsc && isSorted && sortingProp == column.name" class="sortIcon">
              <span>&#8595;</span>
            </span>
          </span>
        </span>
        <span *ngIf="columns.length == 0" [style.line-height]="headerRowHeight+'px'" [style.width.px]="gridWidth" class="headerCell"
          [style.background-color]="styles.headerBgColor" [style.color]="styles.headerFontColor" [style.height]="headerRowHeight+ 'px'">
          No Columns to Display
        </span>
      </div>
      <ng-container *ngIf="gridRows.length > 0">
        <div #rowsContent id="abcn" *ngIf="loadType == 'virtualScroll'" [style.margin-top]="headerRowHeight+'px'" [style.width]="rowWidth+'px'"
          style="overflow-y:overlay" [style.position]="'relative'" [style.height]="gridHeight-headerRowHeight + 'px'" [style.opacity]="gridviewOpacity" (scroll)="changeInView($event.target.scrollTop)">
          <div style="opacity:0;top:0px;width:30px;position:absolute" id="opaqueDiv" [style.height]="(_rows.length*rowHeight)+'px'"></div>
          <div *ngFor="let row of gridRows;let even=even;let odd=odd;let index=index" (click)="singleSelectRow($event.target,row,row.trackingIndex)"
            [style.width]="rowWidth+'px'" [style.position]="'absolute'" [style.top]="(row.top+index)+'px'" [style.height]="rowHeight+'px'"
            class="gridRow" [ngClass]="{evenRow:even && !row.checked && styles.showEvenOdd,oddRow:odd && !row.checked && styles.showEvenOdd,selectedRow:row.checked}">
            <span class="gridCell" *ngFor="let column of columns;let first=first;" [ngClass]={firstCellOfRow:first,intermediateCellOfRow:styles.showInsideBorders}
              [style.line-height]="rowHeight+'px'" [style.text-align]="column.textAlign" [style.width]="column.width+'px'">
              <ng-container *ngIf="column.name == 'checkboxColumn'">
                <ng-container *ngTemplateOutlet="checkboxCell;context:{row:row}"></ng-container>
              </ng-container>
              <ng-container *ngIf="column.name == 'radioColumn'">
                <ng-container *ngTemplateOutlet="radioCell;context:{row:row}"></ng-container>
              </ng-container>
              <ng-container *ngTemplateOutlet="column.cellTemplate;context:{row:row,column:column}"></ng-container>
            </span>
          </div>
        </div>

        <div #rowsContent *ngIf="loadType == 'pagination'" [style.margin-top]="headerRowHeight+'px'" [style.width]="rowWidth+'px'"
          style="overflow-y:hidden" [style.position]="'relative'" [style.height]="gridHeight-headerRowHeight + 'px'" [style.opacity]="gridviewOpacity">

          <div *ngFor="let row of gridRows;let even=even;let odd=odd;let index=index" (click)="singleSelectRow($event.target,row,row.trackingIndex)"
            [style.width]="rowWidth+'px'" [style.position]="'absolute'" [style.top]="(row.top+index)+'px'" [style.height]="rowHeight+'px'" 
            class="gridRow" [ngClass]="{evenRow:even && !row.checked && styles.showEvenOdd,oddRow:odd && !row.checked && styles.showEvenOdd,selectedRow:row.checked}">
            <span class="gridCell" *ngFor="let column of columns;let first=first;" [ngClass]={firstCellOfRow:first,intermediateCellOfRow:styles.showInsideBorders}
              [style.line-height]="rowHeight+'px'" [style.text-align]="column.textAlign" [style.width]="column.width+'px'">
              <ng-container *ngIf="column.name == 'checkboxColumn'">
                <ng-container *ngTemplateOutlet="checkboxCell;context:{row:row}"></ng-container>
              </ng-container>
              <ng-container *ngIf="column.name == 'radioColumn'">
                <ng-container *ngTemplateOutlet="radioCell;context:{row:row}"></ng-container>
              </ng-container>
              <ng-container *ngTemplateOutlet="column.cellTemplate;context:{row:row,column:column}"></ng-container>
            </span>
          </div>

        </div>
      </ng-container>
      <ng-container *ngIf="gridRows.length == 0">
        <div [style.margin-top.px]="headerRowHeight + 10" [style.text-align]="'center'"> No Data To Display</div>
      </ng-container>
    </div>
  </div>

</ng-template>

<div id="tableToExport" hidden></div>

<ng-container *ngTemplateOutlet="paginator;context:{pageNumbers:pageNumbers}" ;></ng-container>

<ng-template #paginator>
  <div id="paginator" [style.color]="styles.paginatorFontColor" [style.background-color]="styles.paginatorBgColor" *ngIf="loadType == 'pagination'">
    <span style="padding-left:10px">Page: {{currentPage}}, {{paginationStart+1}} - {{paginationEnd}} of {{_rows.length}}</span>
    <span *ngIf="noOfPages <= 5" style="float:right" [style.margin-right.px]="20">
      <span class="pageNumber" *ngFor="let number of pageNumbers" [ngClass]="{currentPageColor:number == currentPage}" (click)="getPageNumber(number)">{{number}}</span>
    </span>
    <span *ngIf="noOfPages > 5" style="float:right" [style.margin-right.px]="20">
      <span>
        <select (change)="changePage($event.target.value)" [(ngModel)]="currentPage" name="currentPageNumber">
          <option *ngFor="let num of pageNumbers" [value]="num">{{num}}</option>
        </select>
      </span>
      <span *ngIf="currentPage !=1" (click)="decrementPage()" style="cursor:pointer">&#9664;</span>
      <span *ngIf="currentPage ==1" style="cursor:not-allowed">&#9665;</span>
      <span (click)="getPageNumber(currentPage)" [style.color]="'black'"> {{currentPage}} </span>
      <span *ngIf="currentPage+1 < noOfPages" class="pageNumber" (click)="getPageNumber(currentPage+1)"> {{currentPage+1}} </span>
      <span *ngIf="currentPage+2 < noOfPages" class="pageNumber" (click)="getPageNumber(currentPage+2)"> {{currentPage+2}} </span>
      <span *ngIf="currentPage+3 < noOfPages" class="pageNumber" (click)="getPageNumber(currentPage+3)"> {{currentPage+3}} </span>
      <span *ngIf="currentPage != noOfPages" style="cursor:pointer" (click)="incrementPage()">&#9658;</span>
      <span style="cursor:not-allowed" *ngIf="currentPage == noOfPages">&#9655;</span>
    </span>
  </div>
</ng-template>


