.firstCell{
    border-right:none;
}
.intermediateCell{
    border-left:1px solid lightgrey;
}
.firstCellOfRow{
   border-right:none;
}
.intermediateCellOfRow{
   border-left:1px solid lightgrey;
}
.gridRow{
    border-bottom:1px solid lightgrey;
}
.gridCell{
    text-align: center;
    display: inline-block;
}
input[type="checkbox"] {
    margin:0px;
    cursor: pointer;
}
.headerCell {
    float: left;
    text-align: center;
    background-color: orange;
    color:white;
    position:absolute;
}
.gridRow:hover{
    background-color: rgb(156, 206, 245) !important;
}
 .headerName{
     cursor: pointer;
     font-size: 18px
 }
 .evenRow{
    background-color: rgb(247, 247, 247);
 }
 .oddRow{
    background-color: rgb(253, 253, 253);
 }
 .selectedRow{
    background-color: rgb(181, 247, 201)
 }
 .cellPadding{
     padding-left:5px;
     padding-right:5px;
 }
 #searchBox{
     border:1px solid lightgrey;
     border-top:1px solid lightgrey;
     border-left:1px solid lightgrey;
     border-right:1px solid lightgrey;
     border-bottom:none;
     line-height:28px;
 }

 #searchInput{
     border:1px solid orange;
     border-radius:2px;
     padding-left:10px;
     margin-left:5px;
 }

 .sortIcon{
     padding-right:5px;
     float:right;
 }

 .pageNumber{
     cursor: pointer;
     color:white;
     margin-left:10px;
 }

 #paginator{
     border:1px solid lightgrey;
     border-top:none;
     color:white;
     height: 25px;
     line-height: 25px;
     background-color: orange;
 }

.currentPageColor{
    color:black;
}
