.headerCellStyle {
    background-color: orange;
    color:white;
}
.gridRow:hover{
    background-color: rgb(156, 206, 245);
}
.headerName{
    cursor: pointer;
    font-size: 18px
 }
.evenRow{
    background-color: rgb(247, 247, 247);
 }
.oddRow{
    background-color: rgb(253, 253, 253);
 }
.selectedRow{
    background-color: rgb(181, 247, 201)
 }
