<mat-card>
    <p> This example Demonstrates how columns are rendered by setting the textAlign property.<span [style.float]="'right'"> <a [href]="'https://github.com/JeelaniBashaShaik/ngxDataGrid/tree/master/src/app/examples/text-align'" [target]="'_blank'">View Code</a></span></p> 
    <mat-grid-list cols="1" rowHeight="450px">
        <mat-grid-tile>
            <ngxdatagrid [rows]="dataArray" [forceColumnWidth]="false" [columns]="cols" [gridHeight]="350" [headerRowHeight]="30" [rowHeight]="30" [gridWidth]="900"></ngxdatagrid>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>


