<h2 class="changeLogHeading">
  Change Log:
</h2>
<hr/>

<div>

    <p class="versionNumber">1.7.5</p>
    <ul>
      <li> Decoupled most of the grid styling</li>
    </ul>

    <p class="versionNumber">1.6.5</p>
    <ul>
      <li> Added support for pre-selecting the rows </li>
      <li> Minor bug fix for sorting</li>
    </ul>

    <p class="versionNumber">1.5.5</p>
    <ul>
      <li> Minor bug fix for pagination</li>
    </ul>

    <p class="versionNumber">1.5.4</p>
    <ul>
      <li> Added Pagination feature</li>
    </ul>

    <p class="versionNumber">1.4.4</p>
    <ul>
      <li> Added Inline-Edit feature without the need of an extra template</li>
    </ul>

    <p class="versionNumber">1.3.4</p>
    <ul>
      <li> Added Sort Icons to indicate asc.,/desc.,</li>
    </ul>

    <p class="versionNumber">1.3.3</p>
    <ul>
      <li> Added Excel file download in integrated tool bar</li>
    </ul>

    <p class="versionNumber">1.2.3</p>
    <ul>
      <li> Minor Bug fixes for integrated search</li>
      <li> Added Csv file download in integrated tool bar</li>
    </ul>

    <p class="versionNumber">1.2.2</p>
    <ul>
      <li> Added integrated toolbar with whole search in grid</li>
    </ul>

    <p class="versionNumber">1.1.2</p>
    <ul>
      <li> Select required number of rows by holding the shift key in multiple selection mode</li>
      <li> Select a row by clicking on any part of row rather than clicking on radio button in single selection mode</li>
    </ul>

    <p class="versionNumber">1.0.2</p>
    <ul>
      <li> Added header checkbox to select/de-select all the rows at once</li>
    </ul>

    <p class="versionNumber">1.0.1</p>
    <ul>
      <li> De-coupled textAlign property for each column</li>
    </ul>


    <p class="versionNumber">1.0.0</p>
    <ul>
      <li> Sorting </li>
      <li> Single/Multiple Selection </li>
      <li> Custom Column Width </li>
      <li> Virtual Scrolling </li>
      <li> Custom Cell Templates </li>
    </ul>

</div>

