<h2 class="changeLogHeading">
  Change Log:
</h2>
<hr/>

<div>
  <p class="versionNumber">1.0.0</p>
    <ul>
      <li> Sorting </li>
      <li> Single/Multiple Selection </li>
      <li> Custom Column Width </li>
      <li> Virtual Scrolling </li>
      <li> Custom Cell Templates </li>
    </ul>

    <p class="versionNumber">1.0.1</p>
    <ul>
      <li> De-coupled textAlign property for each column.</li>
    </ul>

    <p class="versionNumber">1.0.2</p>
    <ul>
      <li> Added header checkbox to select/de-select all the rows at once.</li>
    </ul>
</div>

