.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}


.mat-list .mat-list-item{
  height: 42px;
}